SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=admitly_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
ALLOWED_ORIGINS=http://localhost:5173
GEMINI_API_KEY=AIza...
DJANGO_SETTINGS_MODULE=config.settings.development
